<div class="lottonumb">
    <h1 align="center">Pick up your own Lotto!</h1>
    <img src="https://78.media.tumblr.com/3ed7eb2365508bd6c3b125aba9412c9d/tumblr_ox19xb4NMz1ryqd6ho1_500.gif" />
    <form action="/manual_result" method="get">
        <label> 당신만의 로또번호를 입력해주세요(중복번호 입력시 새로고침 됩니다.) : </label> <br>
        <input name="num1" type="number" min="1" max="45" required placeholder="1st.">
        <input name="num2" type="number" min="1" max="45" required placeholder="2nd."> 
        <input name="num3" type="number" min="1" max="45" required placeholder="3rd."> <br>
        <input name="num4" type="number" min="1" max="45" required placeholder="4th.">
        <input name="num5" type="number" min="1" max="45" required placeholder="5th.">
        <input name="num6" type="number" min="1" max="45" required placeholder="6th."> <br>
        <input type="submit" value="입력">
    </form>
</div>